@import url("https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Mouse+Memoirs&family=Nunito:wght@700&display=swap");
* {
  margin: 1;
  padding: 0;
  box-sizing: border-box;
}

a:link,
a:visited {
  text-decoration: none;
}

nav {
  height: 30vh;
  background-color: #fafafa;
  padding: 0 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  font-family: "Mouse Memoirs", sans-serif;
  font-size: 130px;
  color: #192841;
}

.login-button {
  display: block;
  width: 220px;
  background-color: #fafafa;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: #192841;
  font-size: 50px;
  border: 2px solid #192841;
  font-family: "Carrois Gothic", sans-serif;
}

.get-dadvice-button {
  display: block;
  width: 400px;
  justify-content: space-evenly;
  background-color: #192841;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fafafa;
  font-size: 50px;
  font-family: "Carrois Gothic", sans-serif;
}

.sign-up-button {
  display: block;
  width: 400px;
  justify-content: space-evenly;
  background-color: #192841;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fafafa;
  font-size: 50px;
  font-family: "Carrois Gothic", sans-serif;
}

header {
  display: flex;
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  color: #45b6fe;
  text-align: center;
}

h2 {
  display: flex;
  justify-content: center;
}

h3 {
  text-align: center;
  font-size: 55px;
  font-family: "Carrois Gothic", sans-serif;
  color: #192841;
  display: flex;
}

h4 {
  text-align: center;
  font-size: 40px;
  font-family: "Carrois Gothic", sans-serif;
  color: #45b6fe;
}

h5 {
  text-align: center;
  font-size: 32px;
  font-family: "Carrois Gothic", sans-serif;
  color: #192841;
  display: flex;
}

h6 {
  text-align: center;
  font-size: 32px;
  font-family: "Carrois Gothic", sans-serif;
  color: #192841;
}

p {
  text-align: center;
  font-size: 25px;
  font-family: "Carrois Gothic", sans-serif;
  color: #192841;
  justify-content: center;
  display: flex;
}

footer {
  height: 35vh;
  background-color: #FFFEE9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 40px;
}