@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Mouse+Memoirs&family=Nunito:wght@700&display=swap');

$font-body: "Carrois Gothic", sans-serif;
$font-logo: "Mouse Memoirs", sans-serif;
$font-display: "Nunito", sans-serif;

$color-primary: #192841;
$color-secondary: #45b6fe;
$color-footer: #FFFEE9;
$color-white: #fafafa;

*{
    margin:1;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
    color: $color-primary;
}

a:link,
a:visited {
    text-decoration: none;
}

nav {
    height: 30vh;
    background-color: $color-white;
    padding: 0 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    font-family: $font-logo;
    font-size: 130px;
    color: $color-primary;
}

.login-button {
    display: block;
    width: 220px;
    background-color: $color-white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    color: $color-primary;
    font-size: 50px;
    border: 2px solid $color-primary;
}

.get-dadvice-button {
    display: block;
    width: 400px;
    justify-content: space-evenly;
    background-color: $color-primary;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    color: $color-white;
    font-size: 50px;
}